
@{
    ViewBag.Title = "deletePerson";
}

<h2>Delete Bill</h2>
<form method="post" action="@Url.Action("deletePerson")">
    id: <input type="text" name="id" /><br />
    <br /><input type="submit" value="Delete" />
</form>

